<form [formGroup]="clinicForm" (ngSubmit)="submitForm()" #form="ngForm">
  <div class="modal-header">
    <h5 class="modal-title" id="donationModalLabel">Add User</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="closeModal()"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row mb-3 g-3">
      <div class="col-md-3">
        <label>Clinic Name</label>
        <input type="text" class="form-control" formControlName="clinicName" />
        <app-validation-message
          fieldName="clinicName"
          [formGroup]="clinicForm"
          [ngFormTemplate]="form"
        ></app-validation-message>
      </div>

      <div class="col-md-3">
        <label>Contact Name</label>
        <input type="text" class="form-control" formControlName="contactName" />
        <app-validation-message
          fieldName="contactName"
          [formGroup]="clinicForm"
          [ngFormTemplate]="form"
        ></app-validation-message>
      </div>
      <div class="col-md-3">
        <label>Contact Email</label>
        <input
          type="text"
          class="form-control"
          formControlName="contactEmail"
        />
        <app-validation-message
          fieldName="contactEmail"
          [formGroup]="clinicForm"
          [ngFormTemplate]="form"
        ></app-validation-message>
      </div>
      <div class="col-md-3">
        <label>Contact Phone</label>
        <input
          type="text"
          class="form-control"
          formControlName="contactPhone"
        />
        <app-validation-message
          fieldName="contactPhone"
          [formGroup]="clinicForm"
          [ngFormTemplate]="form"
        ></app-validation-message>
      </div>
      <div class="col-md-6">
        <label>Address Line 1</label>
        <input
          type="text"
          class="form-control"
          formControlName="addressLine1"
        />
        <app-validation-message
          fieldName="addressLine1"
          [formGroup]="clinicForm"
          [ngFormTemplate]="form"
        ></app-validation-message>
      </div>
      <div class="col-md-6">
        <label>Address Line 2</label>
        <input
          type="text"
          class="form-control"
          formControlName="addressLine2"
        />
        <app-validation-message
          fieldName="addressLine2"
          [formGroup]="clinicForm"
          [ngFormTemplate]="form"
        ></app-validation-message>
      </div>
      <div class="col-md-3">
        <label>City</label>
        <input type="text" class="form-control" formControlName="city" />
        <app-validation-message
          fieldName="city"
          [formGroup]="clinicForm"
          [ngFormTemplate]="form"
        ></app-validation-message>
      </div>
      <div class="col-md-3">
        <label>State</label>
        <select class="form-select" formControlName="state">
          <option value="">Select State</option>
          @for (state of states; track state.code) {
          <option [value]="state.code">{{ state.description }}</option>
          }
        </select>
        <app-validation-message
          fieldName="state"
          [formGroup]="clinicForm"
          [ngFormTemplate]="form"
        ></app-validation-message>
      </div>
      <div class="col-md-3">
        <label>Country</label>
        <select class="form-select" formControlName="country">
          <option value="">Select Country</option>
          @for (country of countries; track country.code) {
          <option [value]="country.code">{{ country.description }}</option>
          }
        </select>
        <app-validation-message
          fieldName="state"
          [formGroup]="clinicForm"
          [ngFormTemplate]="form"
        ></app-validation-message>
      </div>
      <div class="col-md-3">
        <label>Postal Code</label>
        <input class="form-control" formControlName="postalCode" />
        <app-validation-message
          fieldName="postalCode"
          [formGroup]="clinicForm"
          [ngFormTemplate]="form"
        ></app-validation-message>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="vein-btn-success">Submit</button>
    <button type="button" class="vein-btn-light" (click)="closeModal()">
      Cancel
    </button>
  </div>
</form>
