<form [formGroup]="containerForm" (ngSubmit)="submitForm()" #form="ngForm">
  <div class="modal-header">
    <h5 class="modal-title" id="donationModalLabel">Edit Container</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="closeModal()"
    ></button>
  </div>
  <!-- Modal Body -->
  <div class="modal-body">
    <div class="row mb-3">
      <!-- Container Type -->
      <div class="col-md-12">
        <label for="container-type" class="form-label">Container Type</label>
        <select
          class="form-select"
          id="containerTypeId"
          name="containerTypeId"
          formControlName="containerTypeId"
        >
          @for(containerType of containerTypes; track containerType.id){
          <option [value]="containerType.id">
            {{ containerType.name }}
          </option>
          }
        </select>

        <app-validation-message
          fieldName="containerTypeId"
          [formGroup]="containerForm"
          [ngFormTemplate]="form"
        ></app-validation-message>
      </div>
    </div>

    <!-- Container Code -->
    <div class="row mb-3">
      <div class="col-md-12">
        <label for="containerCode" class="form-label"> Code </label>
        <input
          type="text"
          class="form-control"
          id="containerCode"
          placeholder=""
          formControlName="containerCode"
        />
        <app-validation-message
          fieldName="containerCode"
          [formGroup]="containerForm"
          [ngFormTemplate]="form"
        ></app-validation-message>
      </div>
    </div>

    <div class="row mb-3">
      <!-- Container Type -->
      <div class="col-md-12">
        <label for="container-status" class="form-label">Status</label>
        <select
          class="form-select"
          id="containerType"
          name="status"
          formControlName="status"
        >
          <option value="1">Available</option>
          <option value="2">Assigned</option>
        </select>

        <app-validation-message
          fieldName="status"
          [formGroup]="containerForm"
          [ngFormTemplate]="form"
        ></app-validation-message>
      </div>
    </div>
  </div>

  <!-- Modal Footer -->
  <div class="modal-footer">
    <button type="submit" class="vein-btn-success">Update</button>
    <button type="button" class="vein-btn-light" (click)="closeModal()">
      Cancel
    </button>
  </div>
</form>
