<div class="user-card">
  <div class="user-card-header">
    <h4 class="user-card-title">Orders</h4>
  </div>

  <div class="user-card-body">
    @if(orders.length>0){
    <div class="table-responsive">
      <table class="table table-borderless text-nowrap">
        <thead>
          <tr>
            <th>#Id</th>
            <th>Product</th>
            <th>Qty.</th>
            <th>Status</th>
            <th>Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          @for (order of orders; track order.id) {
          <tr>
            <td>#{{ order.id }}</td>
            <td class="text-wrap">{{ order.product.name }}</td>
            <td>{{ order.quantity }}</td>
            <td>
              @switch(order.status) { @case (OrderStatus.Ordered) {
              <span class="badge badge-primary">Ordered</span>
              } @case (OrderStatus.Processed) {
              <span class="badge badge-success">Processed</span>
              } }
            </td>
            <td>{{ order.createdDate | date : "mediumDate" }}</td>

            <td>
              <div class="dropdown">
                <button
                  class="btn btn-default"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <button
                      type="button"
                      class="dropdown-item"
                      (click)="orderDetail(order.id)"
                    >
                      Detail
                    </button>
                  </li>
                  <li>
                    <button
                      type="button"
                      class="dropdown-item"
                      (click)="editOrder(order.id)"
                    >
                      Edit
                    </button>
                  </li>
                  <li>
                    <button
                      type="button"
                      class="dropdown-item"
                      (click)="deleteOrder(order.id)"
                    >
                      Delete
                    </button>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          }

          <!-- <tr>
            <td>#18</td>
            <td>ClosureFast Catheter, 60 cm</td>
            <td>ABC Clinic</td>
            <td>Jun 25, 2025</td>
            <td>Ordered</td>
            <td>
              <div class="dropdown">
                <button
                  class="btn btn-default"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <button type="button" class="dropdown-item">Detail</button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item">Edit</button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item">Delete</button>
                  </li>
                </ul>
              </div>
            </td>
          </tr> -->
          <!-- <tr>
            <td>#18</td>
            <td>ClosureFast Catheter, 60 cm</td>
            <td>ABC Clinic</td>
            <td>Jun 25, 2025</td>
            <td>Ordered</td>
            <td>
              <div class="dropdown">
                <button
                  class="btn btn-default"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <button type="button" class="dropdown-item">Detail</button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item">Edit</button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item">Delete</button>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <td>#18</td>
            <td>ClosureFast Catheter, 60 cm</td>
            <td>ABC Clinic</td>
            <td>Jun 25, 2025</td>
            <td>Ordered</td>
            <td>
              <div class="dropdown">
                <button
                  class="btn btn-default"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <button type="button" class="dropdown-item">Detail</button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item">Edit</button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item">Delete</button>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <td>#18</td>
            <td>ClosureFast Catheter, 60 cm</td>
            <td>ABC Clinic</td>
            <td>Jun 25, 2025</td>
            <td>Ordered</td>
            <td>
              <div class="dropdown">
                <button
                  class="btn btn-default"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <button type="button" class="dropdown-item">Detail</button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item">Edit</button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item">Delete</button>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <td>#18</td>
            <td>ClosureFast Catheter, 60 cm</td>
            <td>ABC Clinic</td>
            <td>Jun 25, 2025</td>
            <td>Ordered</td>
            <td>
              <div class="dropdown">
                <button
                  class="btn btn-default"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <button type="button" class="dropdown-item">Detail</button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item">Edit</button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item">Delete</button>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <td>#18</td>
            <td>ClosureFast Catheter, 60 cm</td>
            <td>ABC Clinic</td>
            <td>Jun 25, 2025</td>
            <td>Ordered</td>
            <td>
              <div class="dropdown">
                <button
                  class="btn btn-default"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <button type="button" class="dropdown-item">Detail</button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item">Edit</button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item">Delete</button>
                  </li>
                </ul>
              </div>
            </td>
          </tr> -->
        </tbody>
      </table>
    </div>
    } @else{
    <p>No order available.</p>

    }
  </div>
</div>
