<div class="user-card">
  <div class="user-card-header">
    <h4 class="user-card-title">Change Password</h4>
  </div>
  <div class="user-card-body">
    <div class="row">
      <div class="col-md-6">
        <form
          [formGroup]="changePasswordForm"
          (ngSubmit)="changePassword()"
          #form="ngForm"
        >
          <div class="form-group mb-3">
            <label>Current Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="currentPassword"
            />
            <app-validation-message
              fieldName="currentPassword"
              [formGroup]="changePasswordForm"
              [ngFormTemplate]="form"
            ></app-validation-message>
          </div>
          <div class="form-group mb-3">
            <label>New Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="newPassword"
            />
            <app-validation-message
              fieldName="newPassword"
              [formGroup]="changePasswordForm"
              [ngFormTemplate]="form"
            ></app-validation-message>
          </div>
          <div class="form-group mb-3">
            <label>Confirm New Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="confirmNewPassword"
            />
            <app-validation-message
              fieldName="confirmNewPassword"
              [formGroup]="changePasswordForm"
              [ngFormTemplate]="form"
            ></app-validation-message>
            @if(changePasswordForm.hasError('passwordMismatch')) {
            <div class="text-danger">New Passwords do not match.</div>
            }
          </div>
          <div class="d-flex align-items-center">
            <button type="submit" class="vein-btn-success">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
