<div class="user-card">
  <div class="user-card-header">
    <h4 class="user-card-title">Containers</h4>
    <button
      class="vein-btn-success btn-sm float-end"
      type="button"
      (click)="showAddContainerModal()"
    >
      <i class="fa fa-plus"></i>
      Add Container
    </button>
  </div>
  <div class="user-card-body">
    <table class="table table-borderless text-nowrap" id="donation-table">
      <thead>
        <tr>
          <th>#Id</th>
          <th>Type</th>
          <th>Code</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for (container of containers; track container.id) {
        <tr>
          <td>{{ container.id }}</td>
          <td>{{ container.containerType.name }}</td>
          <td>{{ container.containerCode }}</td>
          <td>
            @switch (container.status) { @case (ContainerStatus.Available) {
            <span class="badge badge-success">Available</span>
            } @case (ContainerStatus.Assigned) {
            <span class="badge badge-info">Assigned</span>
            } @default {
            <span class="badge badge-info">Assigned</span>
            } }
          </td>
          <td>
            <div class="dropdown">
              <button
                class="btn btn-default"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="fa fa-ellipsis-v"></i>
              </button>
              <ul class="dropdown-menu">
                <li>
                  <button
                    type="button"
                    class="dropdown-item"
                    (click)="showContainerDetailModal(container)"
                  >
                    Detail
                  </button>
                </li>
                <li>
                  <button
                    type="button"
                    class="dropdown-item"
                    (click)="showEditContainerModal(container)"
                  >
                    Edit
                  </button>
                </li>
                <li>
                  <button
                    type="button"
                    class="dropdown-item"
                    (click)="handleDeleteContainer(container.id)"
                  >
                    Delete
                  </button>
                </li>
              </ul>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
