<div class="modal-header">
  <h5 class="modal-title" id="donationModalLabel">Container Detail</h5>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="closeModal()"
  ></button>
</div>
<!-- Modal Body -->
<div class="modal-body">
  <div class="row mb-3">
    <!-- Container Type -->
    <div class="col-md-12">
      <label for="container-type" class="form-label">Container Type</label>
      <select
        class="form-select"
        id="containerTypeId"
        name="containerTypeId"
        [value]="container?.containerTypeId"
        disabled
      >
        @for(containerType of containerTypes; track containerType.id){
        <option [value]="containerType.id">
          {{ containerType.name }}
        </option>
        }
      </select>
    </div>
  </div>

  <!-- Container Code -->
  <div class="row mb-3">
    <div class="col-md-12">
      <label for="containerCode" class="form-label"> Code </label>
      <input
        type="text"
        class="form-control"
        id="containerCode"
        placeholder=""
        [value]="container?.containerCode"
        disabled
      />
    </div>
  </div>

  <div class="row mb-3">
    <!-- Container Type -->
    <div class="col-md-12">
      <label for="container-status" class="form-label">Status</label>
      <select
        class="form-select"
        id="containerType"
        name="status"
        [value]="container?.status"
        disabled
      >
        <option value="1">Available</option>
        <option value="2">Assigned</option>
      </select>
    </div>
  </div>
</div>

<!-- Modal Footer -->
<div class="modal-footer">
  <button type="button" class="vein-btn-light" (click)="closeModal()">
    Close
  </button>
</div>
