<form [formGroup]="donationForm" (ngSubmit)="submitForm()" #form="ngForm">
  <div class="modal-header">
    <h5 class="modal-title" id="donationModalLabel">Edit Donation</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
      (click)="closeModal()"
    ></button>
  </div>
  <!-- Modal Body -->
  <div class="modal-body">
    <div class="row mb-3">
      <!-- Clinic -->
      <div class="col-md-4">
        <label for="clinicId" class="form-label"> Clinic</label>
        <input
          class="form-control"
          [value]="donation?.clinic?.clinicName"
          disabled
        />
      </div>

      <!-- Package Type -->
      <div class="col-md-4">
        <label for="container-type" class="form-label">Package Type</label>
        <input
          class="form-control"
          disabled
          [value]="GetPackageTypeDesription(donation?.packageType)"
        />
      </div>

      <!-- Container Type -->
      @if(donation?.packageType ==PackageType.Vein360Container){
      <div class="col-md-4">
        <label for="container" class="form-label"> Container</label>
        <input
          class="form-control"
          [value]="donation?.containerType?.name"
          disabled
        />
      </div>
      }

      <!-- Fedex Package Type -->
      @if(donation?.packageType ==PackageType.FedexPackage){
      <div class="col-md-4">
        <label for="fedexPackageTypeId" class="form-label">
          Fedex Package</label
        >
        <input
          class="form-control"
          [value]="GetFedexPackageDescription(donation?.fedexPackagingTypeId)"
          disabled
        />
      </div>
      }
    </div>

    <div class="row mb-3 gy-3">
      <div class="col-md-4">
        <label for="trackingNumber" class="form-label">Tracking Number</label>
        <input
          class="form-control mt-1"
          [value]="donation?.trackingNumber"
          disabled
        />
      </div>

      <div class="col-md-4">
        <label for="amount" class="form-label">Amount</label>
        <input
          type="text"
          class="form-control"
          formControlName="amount"
          [value]="donation?.amount"
          [disabled]="true"
        />

        <app-validation-message
          fieldName="amount"
          [formGroup]="donationForm"
          [ngFormTemplate]="form"
        ></app-validation-message>
      </div>
    </div>

    <!-- Products -->
    <div class="row pb-2 mt-5 mb-3 border-bottom">
      <div class="col-md-12">
        <span class="fw-bold">Products</span>
      </div>
    </div>

    <!-- Header Row -->
    <div class="row mb-3">
      <div class="col-md-6">
        <label>Product</label>
      </div>
      <div class="col-md-2">
        <label>Units</label>
      </div>
      <div class="col-md-1">
        <label>Accepted</label>
      </div>
      <div class="col-md-1">
        <label>Rejected</label>
      </div>
    </div>

    <!-- Product Controls -->

    @for(donationProduct of donation?.products; track $index; let index=$index){
    <div class="row mb-3">
      <div class="col-md-6">
        <select
          class="form-select"
          [value]="donationProduct.productId"
          disabled
        >
          <option value="">Select Product</option>
          @for(product of products; track product.id.toString()){
          <option [value]="product.id">
            {{ product.name }}
          </option>
          }
        </select>
      </div>
      <div class="col-md-2">
        <input
          type="number"
          placeholder="Enter units"
          class="form-control"
          [value]="donationProduct.units"
          disabled
        />
      </div>
      <div class="col-md-1">
        <input
          type="number"
          class="form-control pe-0"
          [value]="donationProduct.accepted"
          disabled
        />
      </div>
      <div class="col-md-1">
        <input
          type="number"
          class="form-control pe-0"
          [value]="donationProduct.rejected"
          disabled
        />
      </div>
      <div class="col-md-1 ps-0 pt-2">
        <app-rejection-info
          [donationProduct]="donationProduct"
        ></app-rejection-info>
      </div>
    </div>
    }
  </div>

  <!-- Modal Footer -->
  <div class="modal-footer">
    <button type="submit" class="vein-btn-success">Update</button>
    <button type="button" class="vein-btn-light" (click)="closeModal()">
      Cancel
    </button>
  </div>
</form>
